In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('data2.csv')

In [5]:
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,12,13,14,15,16,17,18,19,20,21
0,Student Registration: 051-18-128533,28533,ANILA BIBI,MBA,BAD-SPRING-19,MGT691,MANAGEMENT SCIENCE,B+,ACT431,COST AND MANAGEMENT ACCOUNTING,...,C+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Student Registration: 051-18-128531,28531,RAJA DANIYAL AHMED ABBASI,BMS,ADD-SPRING-19,ADV113,ELEMENTS OF ADVERTISING,B,MDS242,CAMERA & LIGHTING TECHNIQUES,...,C+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Student Registration: 051-18-128530,28530,PAKEEZA TARIQ,BTD,ADD-SPRING-19,FPH301,PHOTOGRAPHY,C+,TST221,SURVEY OF TEXTILE I,...,C,TNS251,NATURE STUDIES,B+,NaN,NaN,NaN,NaN,NaN,NaN
3,Student Registration: 051-18-128528,28528,SYED WAJEEH-UL-HASNAIN,M.SC(IR),DSD-SPRING-19,DS604,"DECENTRALIZATION, PARTICIPATION & DEVELOPMENT",B+,DS639,GLOBALIZATION AND REGIONAL ECONOMIC INTEGRATION,...,C+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Student Registration: 051-18-128522,28522,USMAN KHAN,BBA-H,BAD-SPRING-19,ACT211,PRINCIPLES OF ACCOUNTING,F,ASC162,BUSINESS MATHEMATICS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
juck1={'C':0,'B':0,'C+':0,
'F':0, 
'B+':0, 
'A':0,'W':0}
for i in range(6,24 ,3):
    increment1={'C':0,'B':0,'C+':0,'F':0,'B+':0,'A':0,'W':0}
    increment1=dict(data[data['2']=='BTD']['6'].value_counts())
    juck1["C"]=juck1["C"]+increment1["C"]
    juck1["B"]=juck1["B"]+increment1["B"]
    juck1["C+"]=juck1["C+"]+increment1["C+"]
    try:
        juck1["F"]=juck1["F"]+increment1["F"]
    except:
        juck1["F"]=juck1["F"]+0
    try:
        juck1["W"]=juck1["W"]+increment1["W"]
    except:
        juck1["W"]=juck1["W"]+0
    juck1["B+"]=juck1["B+"]+increment1["B+"]
    juck1["A"]=juck1["A"]+increment1["A"]

In [7]:
increment1

{'B+': 9, 'B': 6, 'C+': 3, 'C': 1, 'W': 1, 'A': 1}

In [8]:
juck1

{'C': 6, 'B': 36, 'C+': 18, 'F': 0, 'B+': 54, 'A': 6, 'W': 6}

In [9]:
def grade_count(depart):
    juck1={'C':0,'B':0,'C+':0,
    'F':0, 
    'B+':0, 
    'A':0,'W':0}
    for i in range(6,24 ,3):
        
        increment1=dict(data[data['2']==depart][str(i)].value_counts())
        try:
            juck1["C"]=juck1["C"]+increment1["C"]
        except:
            juck1["C"]=juck1["C"]+0 
        try:
            juck1["B"]=juck1["B"]+increment1["B"]
        except:
            juck1["B"]=juck1["B"]+0 
        try:
            juck1["C+"]=juck1["C+"]+increment1["C+"]
        except:
            juck1["C+"]=juck1["C+"]+0 
        try:
            juck1["F"]=juck1["F"]+increment1["F"]
        except:
            juck1["F"]=juck1["F"]+0
        try: 
            juck1["W"]=juck1["W"]+increment1["W"]
        except:
            juck1["W"]=juck1["W"]+0
        try:
            juck1["B+"]=juck1["B+"]+increment1["B+"]
        except:
            juck1["B+"]=juck1["B+"]+0 
        try:
            juck1["A"]=juck1["A"]+increment1["A"] 
        except:
            juck1["A"]=juck1["A"]+0
    return juck1

In [10]:
Dict_result={}
for i in ['MBA', 'BMS', 'BTD', 'M.SC(IR)', 'BBA-H', 'MS(SE)', 'BS(SE)',
    'BS(CS)', 'BSDS', 'BFD', 'MS(CS)', 'MS(BA)', 'BS(IR)', 'ADFD',
    'BS(A&F)', 'BSTN', 'MPHIL(IDS)', 'BS(ECO)', 'MPHIL(IR)', 'MS(MGT)',
    'BS(SC)', 'PH.D (CS)', 'FDFD', 'MSTN', 'FDTD', 'M.SC(DS)']:
    print("{0} => {1}".format(i,grade_count(i)))
    Dict_result[i]=grade_count(i )

MBA => {'C': 101, 'B': 87, 'C+': 94, 'F': 39, 'B+': 56, 'A': 54, 'W': 20}
BMS => {'C': 42, 'B': 32, 'C+': 39, 'F': 31, 'B+': 24, 'A': 12, 'W': 9}
BTD => {'C': 13, 'B': 28, 'C+': 9, 'F': 0, 'B+': 24, 'A': 19, 'W': 12}
M.SC(IR) => {'C': 2, 'B': 14, 'C+': 15, 'F': 5, 'B+': 17, 'A': 18, 'W': 0}
BBA-H => {'C': 87, 'B': 70, 'C+': 76, 'F': 45, 'B+': 65, 'A': 59, 'W': 38}
MS(SE) => {'C': 1, 'B': 2, 'C+': 0, 'F': 0, 'B+': 4, 'A': 3, 'W': 0}
BS(SE) => {'C': 64, 'B': 67, 'C+': 81, 'F': 39, 'B+': 59, 'A': 28, 'W': 36}
BS(CS) => {'C': 127, 'B': 135, 'C+': 152, 'F': 90, 'B+': 83, 'A': 55, 'W': 47}
BSDS => {'C': 6, 'B': 7, 'C+': 7, 'F': 1, 'B+': 7, 'A': 4, 'W': 0}
BFD => {'C': 26, 'B': 49, 'C+': 42, 'F': 17, 'B+': 50, 'A': 26, 'W': 8}
MS(CS) => {'C': 1, 'B': 1, 'C+': 0, 'F': 0, 'B+': 2, 'A': 2, 'W': 0}
MS(BA) => {'C': 1, 'B': 4, 'C+': 0, 'F': 0, 'B+': 1, 'A': 2, 'W': 0}
BS(IR) => {'C': 15, 'B': 39, 'C+': 22, 'F': 13, 'B+': 26, 'A': 24, 'W': 9}
ADFD => {'C': 0, 'B': 3, 'C+': 2, 'F': 1, 'B+': 2, 'A': 0, 'W': 1}
BS(A&F) => {'C': 5, 'B': 5, 'C+': 6, 'F': 1, 'B+': 3, 'A': 6, 'W': 6}
BSTN => {'C': 5, 'B': 4, 'C+': 6, 'F': 4, 'B+': 0, 'A': 0, 'W': 0}
MPHIL(IDS) => {'C': 0, 'B': 0, 'C+': 1, 'F': 0, 'B+': 3, 'A': 0, 'W': 0}
BS(ECO) => {'C': 0, 'B': 4, 'C+': 0, 'F': 0, 'B+': 0, 'A': 2, 'W': 0}
MPHIL(IR) => {'C': 0, 'B': 0, 'C+': 1, 'F': 0, 'B+': 0, 'A': 0, 'W': 0}
MS(MGT) => {'C': 0, 'B': 1, 'C+': 0, 'F': 0, 'B+': 4, 'A': 3, 'W': 0}
BS(SC) => {'C': 1, 'B': 1, 'C+': 0, 'F': 0, 'B+': 0, 'A': 1, 'W': 0}
PH.D (CS) => {'C': 0, 'B': 1, 'C+': 1, 'F': 0, 'B+': 0, 'A': 0, 'W': 0}
FDFD => {'C': 1, 'B': 0, 'C+': 1, 'F': 2, 'B+': 0, 'A': 0, 'W': 0}
MSTN => {'C': 0, 'B': 0, 'C+': 0, 'F': 0, 'B+': 0, 'A': 2, 'W': 0}
FDTD => {'C': 2, 'B': 0, 'C+': 0, 'F': 0, 'B+': 2, 'A': 0, 'W': 1}
M.SC(DS) => {'C': 1, 'B': 0, 'C+': 1, 'F': 1, 'B+': 0, 'A': 0, 'W': 1}

In [11]:
Dict_result

{'MBA': {'C': 101, 'B': 87, 'C+': 94, 'F': 39, 'B+': 56, 'A': 54, 'W': 20},
 'BMS': {'C': 42, 'B': 32, 'C+': 39, 'F': 31, 'B+': 24, 'A': 12, 'W': 9},
 'BTD': {'C': 13, 'B': 28, 'C+': 9, 'F': 0, 'B+': 24, 'A': 19, 'W': 12},
 'M.SC(IR)': {'C': 2, 'B': 14, 'C+': 15, 'F': 5, 'B+': 17, 'A': 18, 'W': 0},
 'BBA-H': {'C': 87, 'B': 70, 'C+': 76, 'F': 45, 'B+': 65, 'A': 59, 'W': 38},
 'MS(SE)': {'C': 1, 'B': 2, 'C+': 0, 'F': 0, 'B+': 4, 'A': 3, 'W': 0},
 'BS(SE)': {'C': 64, 'B': 67, 'C+': 81, 'F': 39, 'B+': 59, 'A': 28, 'W': 36},
 'BS(CS)': {'C': 127,
  'B': 135,
  'C+': 152,
  'F': 90,
  'B+': 83,
  'A': 55,
  'W': 47},
 'BSDS': {'C': 6, 'B': 7, 'C+': 7, 'F': 1, 'B+': 7, 'A': 4, 'W': 0},
 'BFD': {'C': 26, 'B': 49, 'C+': 42, 'F': 17, 'B+': 50, 'A': 26, 'W': 8},
 'MS(CS)': {'C': 1, 'B': 1, 'C+': 0, 'F': 0, 'B+': 2, 'A': 2, 'W': 0},
 'MS(BA)': {'C': 1, 'B': 4, 'C+': 0, 'F': 0, 'B+': 1, 'A': 2, 'W': 0},
 'BS(IR)': {'C': 15, 'B': 39, 'C+': 22, 'F': 13, 'B+': 26, 'A': 24, 'W': 9},
 'ADFD': {'C': 0, 'B': 3, 'C+': 2, 'F': 1, 'B+': 2, 'A': 0, 'W': 1},
 'BS(A&F)': {'C': 5, 'B': 5, 'C+': 6, 'F': 1, 'B+': 3, 'A': 6, 'W': 6},
 'BSTN': {'C': 5, 'B': 4, 'C+': 6, 'F': 4, 'B+': 0, 'A': 0, 'W': 0},
 'MPHIL(IDS)': {'C': 0, 'B': 0, 'C+': 1, 'F': 0, 'B+': 3, 'A': 0, 'W': 0},
 'BS(ECO)': {'C': 0, 'B': 4, 'C+': 0, 'F': 0, 'B+': 0, 'A': 2, 'W': 0},
 'MPHIL(IR)': {'C': 0, 'B': 0, 'C+': 1, 'F': 0, 'B+': 0, 'A': 0, 'W': 0},
 'MS(MGT)': {'C': 0, 'B': 1, 'C+': 0, 'F': 0, 'B+': 4, 'A': 3, 'W': 0},
 'BS(SC)': {'C': 1, 'B': 1, 'C+': 0, 'F': 0, 'B+': 0, 'A': 1, 'W': 0},
 'PH.D (CS)': {'C': 0, 'B': 1, 'C+': 1, 'F': 0, 'B+': 0, 'A': 0, 'W': 0},
 'FDFD': {'C': 1, 'B': 0, 'C+': 1, 'F': 2, 'B+': 0, 'A': 0, 'W': 0},
 'MSTN': {'C': 0, 'B': 0, 'C+': 0, 'F': 0, 'B+': 0, 'A': 2, 'W': 0},
 'FDTD': {'C': 2, 'B': 0, 'C+': 0, 'F': 0, 'B+': 2, 'A': 0, 'W': 1},
 'M.SC(DS)': {'C': 1, 'B': 0, 'C+': 1, 'F': 1, 'B+': 0, 'A': 0, 'W': 1}}

In [12]:
result=pd.DataFrame(Dict_result)

In [13]:
result.to_csv('Grade_result.csv')

In [14]:
result

,MBA,BMS,BTD,M.SC(IR),BBA-H,MS(SE),BS(SE),BS(CS),BSDS,BFD,...,MPHIL(IDS),BS(ECO),MPHIL(IR),MS(MGT),BS(SC),PH.D (CS),FDFD,MSTN,FDTD,M.SC(DS)
A,54,12,19,18,59,3,28,55,4,26,...,0,2,0,3,1,0,0,2,0,0
B,87,32,28,14,70,2,67,135,7,49,...,0,4,0,1,1,1,0,0,0,0
B+,56,24,24,17,65,4,59,83,7,50,...,3,0,0,4,0,0,0,0,2,0
C,101,42,13,2,87,1,64,127,6,26,...,0,0,0,0,1,0,1,0,2,1
C+,94,39,9,15,76,0,81,152,7,42,...,1,0,1,0,0,1,1,0,0,1
F,39,31,0,5,45,0,39,90,1,17,...,0,0,0,0,0,0,2,0,0,1
W,20,9,12,0,38,0,36,47,0,8,...,0,0,0,0,0,0,0,0,1,1

In [15]:
def updata_data(old,new):
        old["C"]=old["C"]+new["C"]
        old["B"]=old["B"]+new["B"]
        old["C+"]=old["C+"]+new["C+"]
        old["F"]=old["F"]+new["F"]
        old["B+"]=old["B+"]+new["B+"]
        old["A"]=old["A"]+new["A"]
        return old

In [16]:
Dict={}
for count,j in enumerate(['MBA', 'BMS', 'BTD', 'M.SC(IR)', 'BBA-H', 'MS(SE)', 'BS(SE)',
    'BS(CS)', 'BSDS', 'BFD', 'MS(CS)', 'MS(BA)', 'BS(IR)', 'ADFD',
    'BS(A&F)', 'BSTN', 'MPHIL(IDS)', 'BS(ECO)', 'MPHIL(IR)', 'MS(MGT)',
    'BS(SC)', 'PH.D (CS)', 'FDFD', 'MSTN', 'FDTD', 'M.SC(DS)']):
    dict_grad_counter={}
    juck1={'C':0,'B':0,'C+':0,
    'F':0, 
    'B+':0, 
    'A':0,'W':0} 
    for i in range(6,24 ,3):
        increment1={'C':0,'B':0,'C+':0,'F':0,'B+':0, 'A':0,'W':0}
        increment1=dict(data[data['2']==str(j)]['6'].value_counts())
        s=updata_data(juck1,increment1)
    Dict[j]=s

KeyError: 'F'

In [41]:
#a={}
for i in range(6,24 ,3):
    print(data[data['2']=='BTD'][str(i)].value_counts()) 
    a=pd.DataFrame(dict(data[data['2']=='BS(CS)'][str(i)].value_counts()),index=[6,9,12,15,18,21])

B+    9
B     6
C+    3
W     1
C     1
A     1
Name: 6, dtype: int64
B     10
W      4
B+     3
C      2
C+     1
A      1
Name: 9, dtype: int64
B     7
B+    4
C+    3
A     3
C     2
W     2
Name: 12, dtype: int64
C     6
B+    5
A     5
W     2
C+    1
Name: 15, dtype: int64
A     7
B     5
B+    2
C     1
W     1
C+    1
Name: 18, dtype: int64
A     2
W     2
C     1
B+    1
Name: 21, dtype: int64

Empty DataFrame
Columns: []
Index: [6, 9, 12, 15, 18, 21]

In [17]:
df = pd.DataFrame({
         'hID': [101, 102, 103, 101, 102, 104, 105, 101],
         'dID': [10, 11, 12, 10, 11, 10, 12, 10],
         'uID': ['James', 'Henry', 'Abe', 'James', 'Henry', 'Brian', 'Claude', 'James'],
         'mID': ['A', 'B', 'A', 'B', 'A', 'A', 'A', 'C']
})

In [18]:
df

   hID  dID     uID mID
0  101   10   James   A
1  102   11   Henry   B
2  103   12     Abe   A
3  101   10   James   B
4  102   11   Henry   A
5  104   10   Brian   A
6  105   12  Claude   A
7  101   10   James   C

In [19]:
df['hID'].nunique()

5